{% include 'OpenGestiaBundle:Persona:edit.html.twig' %}

<div class="ficha ficha-ninyo">
	<form action="{{ app.request.uri }}" method="POST">
		{% include 'OpenGestiaBundle:Ninyo:form_table.html.twig' %}
	</form>

	<div id="dialog-confirm" class="display:none;" title="¿Ascender niño a educador?">
		{#<p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>¿Estás seguro que deseas ascender este niño a educador?</p>#}
	</div>
</div>

<script>
	$("#modal").dialog("option", "title", "Ficha de niño");

	$(".ficha-ninyo").on('click', '.ascender-ninyo', function(e){
		e.preventDefault();

		var url = $(this).attr('href');

		showConfirmation(url);
	});

	function showConfirmation(url) {
		$("#dialog-confirm").html('<p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>¿Estás seguro que deseas ascender este niño a educador?</p>')
		$( "#dialog-confirm" ).dialog({
			resizable: false,
			height:200,
			modal: true,
			buttons: [
				{
					text: "Ascender",
					"class": "ascender-ninyo-button",
					click: function() {
						executeAjaxReloadingPage(url);
					}
				},
				{
					text: "Cancelar",
					click : function() {
					$( this ).dialog( "close" );
					}
				}
			]
		});
	}

	function executeAjaxReloadingPage(url) {
		$.ajax({
			url: url,
			success: function(data) {
				location.reload();
			}
		})
	}
</script>