{% extends 'OpenGestiaBundle:Persona:form_table.html.twig'%}

{% block form_buttons %}
	<a class="form-button ascender-ninyo" href="{{ path('ninyo_ascender_a_educador', {id: formulario.get('value').id }) }}">Ascender a educador</a>
{% endblock %}