{% extends '::base.html.twig' %}

{% block listado_campos %}
var dataFields = [
	{% for campo in campos_disponibles %}
		{% if campo in app.user.configuracion.campos['ninyos'] %}
			{% set url = path('ninyo_eliminar_campo', {'campo' : campo}) %}
			{% set status = 'active' %}
		{% else %}
			{% set url = path('ninyo_anyadir_campo', {'campo' : campo}) %}
			{% set status = 'inactive' %}
		{% endif %}
		{
			text: '{{ ('listado.campos.' ~ campo) | trans }}',
			url: '{{ url }}',
			status: '{{ status }}',
			campo: '{{ campo }}'
		},
	{% endfor %}
];
{% endblock %}

{% block menu %}
	{% include 'OpenGestiaBundle:Default:menu_seccion.html.twig' with {'active_section' : 'ninyos'} %}
{% endblock %}

{% block action_buttons %}
	<a href="{{ url('ninyo_new') }}" id="btn_alta" class="btn ajax_link">Alta</a>
	<ul class="nav" role="navigation">
		<li class="dropdown">
			<a href="#" id="btn_baja" role="button" class="dropdown-toggle btn" data-toggle="dropdown"><b class="caret"></b>Baja</a>
			<ul class="dropdown-menu menu-bajas" role="menu" aria-labelledby="drop2">
				<li role="presentation"><a class="menuitem ninyo baja_temporal_simultanea" tabindex="-1" href="#">Temporal</a></li>
				<li role="presentation"><a class="menuitem ninyo baja_definitiva_simultanea" tabindex="-1" href="#">Definitiva</a></li>
			</ul>
		</li>
	</ul>
{% endblock %}

{% block list_name %}Niños{% endblock %}

{% block body %}
	<table class="sortable-table listado_ninyos" cellspacing='0'>
		<thead>
			<tr>
				<th></th>
				{% for campo in app.user.configuracion.campos['ninyos'] %}
					{% set nombre_campo = 'listado.campos.' ~ campo %}
					<th class="campo-{{ campo }}">{{ nombre_campo | trans }}</th>
				{% endfor %}
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for ninyo in ninyos %}
			<tr class="ninyo">
				<td>
					<input name="select_item[]" type="checkbox" value="{{ ninyo.id }}" />
				</td>
				{% for campo in app.user.configuracion.campos['ninyos'] %}
					{% if campo == 'fechaNacimiento' %}
						<td>{{ ninyo.fechaNacimiento | date('d-m-Y') }}</td>
					{% else %}
						<td>{{ attribute(ninyo, campo) }}</td>
					{% endif %}
				{% endfor %}
				<td><a class="ajax_link ficha_ninyo" href="{{ url('ninyo_edit', {'id': ninyo.id})}}">Ficha</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
