{% set active_section = active_section | default('ninyos') %}
<nav id="section-nav">
	<ul>
		<li id="ninyos-menu"  class="{% if active_section == 'ninyos' %}active{% endif %}">
			<a href="{{ url('ninyo_index') }}">Niños</a>

			<ul class="drop_down_options">
				<li><a href="{{ url('ninyo_index') }}">Listado general</a></li>
				<li><a class="baja-temporal" href="{{ url('ninyo_bajas') }}">Baja temporal</a></li>
				<li><a class="baja-definitiva" href="{{ url('ninyo_bajas_definitivas') }}">Baja definitiva</a></li>
			</ul>
		</li>
		<li id="educadores-menu" class="{% if active_section == 'educadores' %}active{% endif %}">
			<a href="{{ url('educador_index') }}">Educadores</a>

			<ul class="drop_down_options">
				<li><a href="{{ url('educador_index') }}">Listado general</a></li>
				<li><a class="baja-temporal" href="{{ url('educador_bajas') }}">Baja temporal</a></li>
				<li><a class="baja-definitiva" href="{{ url('educador_bajas_definitivas') }}">Baja definitiva</a></li>
			</ul>

		</li>
		<li class="{% if active_section == 'grupos' %}active{% endif %}">
			<a href="{{ url('grupo_index') }}">Grupos</a>
		</li>
	</ul>

	<div class="perfil-usuario">
		<a href="{{ url('_logout' )}}">Salir</a>
	</div>
</nav>

{#<nav>#}
	{#<ul>#}
		{#<li>#}
			{#<ul>#}
				{#Niños#}
				{#<li><a href="{{ url('ninyo_index') }}">Activos</a></li>#}
				{#<li><a href="{{ url('ninyo_bajas') }}">Bajas</a></li>#}
				{#<li><a href="{{ url('ninyo_bajas_definitivas') }}">Bajas Definitivas</a></li>#}
			{#</ul>#}
		{#</li>#}
		{#<li>#}
			{#<ul>#}
				{#Educadores#}
				{#<li><a href="{{ url('educador_index') }}">Activos</a></li>#}
				{#<li><a href="{{ url('educador_bajas') }}">Bajas</a></li>#}
				{#<li><a href="{{ url('educador_bajas_definitivas') }}">Bajas Definitivas</a></li>#}
			{#</ul>#}
		{#</li>#}
	{#</ul>#}

{#</nav>#}