@import "compass";
@import "compass/css3/transform";

@include font-face("JoyfulJulianaProRegular", font-files('/bundles/opengestia/fonts/Joyful_Juliana_Pro-webfont.woff', woff), '/bundles/opengestia/fonts/Joyful_Juliana_Pro-webfont.eot');

body {
    background: url(/bundles/opengestia/images/bgk.svg) ;
}

$light-green: #B6D990;
$medium-green: #00894b;
$dark-green: #1e522f;
$listado-campos-item-color: #1f6938;

#logo {
  margin: 20px 0px 0px 20px;
  background: url(/bundles/opengestia/images/bgk_logo.svg) no-repeat;
  padding: 10px 20px;
}


#sections {
    position:relative;
    margin-left: -10.5px;
    margin-top: 20px;
    z-index: 100;

    & li {
        width: 123px;
        height: 50px;
        color: #a3d06d;
        background: url(/bundles/opengestia/images/tab.svg);
        margin: 0px 0px 0px -7px;
        position: relative;

        font-family:sans-serif;
        font-size:13px;
        line-height:20px;
        vertical-align:bottom;
        display:inline-block;

        & p{
            font-size: 1.7em;
            text-align: right;
            margin: 10px 15px 0px 0px;
            @include rotate(-8deg);
            font-family: JoyfulJulianaProRegular;
        }

        &.active{
            color: white;
            background: url(/bundles/opengestia/images/active_tab.svg) ;
            z-index: 120;
        }
    }

}

#section-nav {
    height: 35px;
    display:block;
    position:relative;
    background: $dark-green;
    z-index: 1001;
    margin: -10px 10px 0px 10px;
    @include border-radius(0px 15px 0px 0px, 0px 15px 0px 0px);
    overflow: visible;

    & > ul {
        display: inline-block;
        margin: 0px 0px 0px 5px;
        line-height: 25px;

        & > li {
            line-height: 25px;
            text-align: center;
            width: 130px;
            margin: 5px 0px 0px 5px;
            background: $light-green;
            display:inline-block;
            vertical-align: top;

            & a{
                display: block;
                color: #000;

                &:hover {
                    text-decoration: none;
                }
            }

            &.active {
                & > a {

                  background: $medium-green;
                }

                & > a{
                    color: white;
                }
            }

            & > ul {
                margin: 0px 0px 0px 0px;
                padding-top: 1px;
                background: #FFF;
                display:none;

                & > li {
                    list-style: none;
                    line-height: 25px;
                    margin: 3px 0px 0px 0px;
                    background: $light-green;

                    &:hover {
                        background: $dark-green;

                        & > a {
                            color: #fff;
                        }
                    }
                }
            }

            &:hover ul {
                display: block;
            }
        }
    }

    & .perfil-usuario {
        margin-top: 5px;
        line-height: 25px;
        position:absolute;
        right: 10px;
        display: inline-block;
    }
}

#actions{
    position:relative;
    height: 2em;
    margin: 0px 0px 70px 0px;
    z-index: 180;

    &  .btn {
        @include box-shadow(none);
        text-shadow: none;
        color: white;
        border: 0px;
        display: inline-block;
        width: 6em;
        padding: 0.1em;
        @include border-radius(20px, 20px);
    }

    & ul {
        & li {
            margin-top:3px;
            margin-bottom: 2px;
        }
    }

    & .dropdown {
        & .caret {
            border-top-width: 6px;
            border-right-width: 5px;
            border-left-width: 5px;
            margin-right: 5px;
            border-top-color: #FFF;
            border-bottom-color: #FFF;
        }

        & .dropdown-toggle {
        }

        &.open {
            & .dropdown-toggle{
                @include border-radius(10px 10px 0px 0px, 10px 10px 0px 0px);
            }
        }
    }

    & .dropdown-menu {
        @include box-shadow(none);
        @include border-radius(0px, 0px);
        border: none;
        background: none;
        min-width: 0px;
        width: 6.3em;
        left: 279px;
        top: 1.35em;
        padding: 0px;

        line-height: 25px;
        margin: 4px 0px 0px 0px;

        & li {
            background: $light-green;
            & a:hover {
                background: $medium-green;
            }

            &:last-child {
                & a:hover {
                  @include border-radius(0px 0px 10px 10px, 0px 0px 10px 10px);
                }
            }
            &:last-child {
                @include border-radius(0px 0px 10px 10px, 0px 0px 10px 10px);
            }
        }
    }
}

#list_name {
    position:relative;
    left: 1.5em;
    bottom: -0.5em;

    & > h1 {
        font-size: 2.5em;
        text-transform: uppercase;
        color: #fff;
    }
}

#btn_alta {
    position: absolute;
    left: 12em;
    background: $dark-green;
}

#btn_baja {
    position: absolute;
    left: 20em;
    background: $dark-green;
}

#listado-campos {
    cursor: pointer;
    width: 15em;
    position: absolute;
    right: 10em;

    &.dropped-up > span:after{
      background: url(/bundles/opengestia/images/img_flecha_desplegable_down.svg) no-repeat $dark-green;
      background-position: 5px 6px;
    }
    &.dropped-down > span:after{
      background: url(/bundles/opengestia/images/img_flecha_desplegable_up.svg) no-repeat $dark-green;
      background-position: 5px 5px;
    }

    & > span {
        height: 21px;
        padding-top: 2px;
        padding-left: 1em;
        display: block;
        background: #FFF;
        @include border-radius(20px, 20px);

        &.dropped-up :after {
        }

        &:after {
            display: inline-block;
            position:absolute;
            top: 0px;
            right: 0px;
            content: " ";
            width: 25px;
            height: 23px;
            @include border-radius(0px 20px 20px 0px, 0px 20px 20px 0px);
        }
    }

    & > ul {
        list-style-type: none;
        padding:3px 0px 4px 0px;
        margin:14px 0px 0px 0px;

        background: $medium-green;


        &:before{
            position:absolute;
            top: 25px;
            width:15em;
            content: "";
            height: 12px;
            @include border-radius(20px 20px 0px 0px, 20px 20px 0px 0px);
            background: $dark-green;
        }

        &:after{
            position:absolute;
            bottom: -11px;
            width:15em;
            content: "";
            height: 12px;
            @include border-radius(0px 0px 20px 20px, 0px 0px 20px 20px);
            background: $dark-green;
        }

        & :first-child {
            margin-top: 0px;
        }

        & > li {
            line-height: 25px;
            padding-left:10px;
            margin: 3px 0px 0px 0px;
            list-style-type: none;

            &.active{
                background: $listado-campos-item-color;
            }

            &.inactive{
                background: $light-green;
            }

            &:hover {
                background: $medium-green;

            }

            & > a {
               display:block;
               color: #000;
            }

            & > a:hover {
                text-decoration: none;
                color: white;
            }
        }
    }
}

#content {
    position:relative;
    z-index: 1000;
    margin: 0px 10px 0px 10px;
    padding: 20px;
    border: 0px;
    background: #ccc;
    @include border-radius(0px 0px 25px 25px, 0px 0px 25px 25px);
    @include background-image(linear-gradient(left, #00894b, #a3d06d));

    & > footer{
        margin: 15px 15px 0px 0px;
        text-align: right;
    }
}
.dataTables_length{
  position:absolute;
  top: -35px;
  right:230px;
  float:none;
  display: inline-block;
  width: 240px;

  & label {
      font-size:12px;
  }

  & select {
      height: 20px;
      width: 140px;
      font-size: 12px;
      margin-top: 5px;
      padding: 0px 0px 0px 10px;
      @include border-radius(20px, 20px);
  }
}

.dataTables_filter{
    position:absolute;
    top: -35px;
    right:0px;
    float:none;
    display: inline-block;
    width: 200px;

    & label {
        font-size:12px;
    }

    & input {
        height: 12px;
        width: 140px;
        font-size: 12px;
        margin-top: 5px;
        @include border-radius(20px, 20px);
    }
}

table.dataTable{
    border-collapse: collapse;
    border-spacing: 2px;
    background:none;
    @include border-radius(15px 15px 15px 15px, 15px 15px 15px 15px);
    margin-bottom: 10px;

    &  tr.odd {
        background: #FFF;
    }

    &  tr.even{
        background: #b6d990;
    }

    & thead th {
        font-weight: normal;

        &:first-child {
            @include border-radius(15px 0px 0px 0px, 15px 0px 0px 0px);
        }
        &:last-child {
            @include border-radius(0px 15px 0px 0px, 0px 15px 0px 0px);
        }
        border-bottom: 0px;
    }

    & > tbody > tr > td:first-child {
        width: 20px;
        text-align:center;
    }
}

thead {
    color: #FFF;
    background-color: #003333;
    @include background-image(linear-gradient(#1e522f 0%,#1e522f 50%,#00894b 100%));
    font-size: 12px;

    & > tr {
        height: 37px;
        font-weight: normal;
    }
}

table tr:last-child td:first-child {
    @include border-radius(0px 0px 0px 15px, 0px 0px 0px 15px);

}

table tr:last-child td:last-child {
    @include border-radius(0px 0px 15px 0px, 0px 0px 15px 0px);
}

table th {
    padding:4px 10px;
}

table td {
    padding:2px 10px 4px 10px;
}


.ui-dialog {
    position: absolute;
    top: 0;
    left: 0;
    //padding: .2em;
    width: 300px;
    overflow: visible;
    @include border-radius(15px 15px 15px 15px, 15px 15px 15px 15px);
    @include background-image(linear-gradient(left bottom, #00894b, #a3d06d));

    & .ui-dialog-titlebar {
        padding: .4em 1em;
        position: relative;
        color: #FFF;
        @include border-radius(15px 15px 0px 0px, 15px 15px 0px 0px);
        @include background-image(linear-gradient(left, #1e522f 0%, #00894b 100%));

        & .ui-dialog-titlebar-close .ui-icon {
          background-image:none;

        }
    }
    & .ui-dialog-content {
        position: relative;
        border: 0;
        padding: .5em 1em;
        background: none;
        overflow: auto;
        zoom: 1;
        margin-left: 40px;

        & td {
            line-height: 50px;
        }

        & input {
            width: 260px;
            @include border-radius(20px, 20px);
        }

        & select {
            width: 274px;
            @include border-radius(20px, 20px);

            &:after {
                position:absolute;
                bottom: -11px;
                width:15em;
                content: "";
                height: 12px;
                @include border-radius(0px 0px 20px 20px, 0px 0px 20px 20px);
                background: $dark-green;
            }
        }
        & .form-picture {
            display: inline-block;
            width: 190px;
            height: 100px;
        }

        & .form-buttons{
            float:right;
            width: 360px;
            display: inline-block;
        }

        & a.form-button {
            display: inline-block;
            text-align: center;
            line-height: 2.3em;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                text-decoration: none;
            }
        }
        & .form-button {
            color: #FFF;
            width:170px;
            height: 2.3em;
            border: none;

            @include border-radius(20px, 20px);
            @include background-image(linear-gradient(bottom, #123d10 0%, #0a8137 100%));
        }
    }
    .ui-dialog-buttonset {
        & .ui-button {
            border: none;
            background: none;
        }
        & .ui-button-text {
            color: #FFF;
            width:90px;
            height: 1.3em;

            @include border-radius(20px, 20px);
            @include background-image(linear-gradient(bottom, #123d10 0%, #0a8137 100%));
        }
    }
}
.ficha-educador .form-picture {
    background: url(/bundles/opengestia/images/educadores_picture.svg) no-repeat;
    background-size: 80px;
    position: relative;
    top: 20px;
}

.ui-dialog .ui-dialog-content .ficha-ninyo .form-picture {
  height: 150px;
}

.ficha-ninyo .form-picture {
    background: url(/bundles/opengestia/images/ninyos_picture.svg) no-repeat;
    background-size: 100px;
    position: relative;
    top: 20px;
}

.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;

  &::before {
      border: solid;
      border-color: #b5dc17 transparent;
      border-width: 0px 6px 8px 6px;
      bottom: 24px;
      content: "";
      left: 50%;
      position: absolute;
      z-index: 99;
  }
}
/* Fades and background-images don't work well together in IE6, drop the image */
* html .ui-tooltip {
  background-image: none;
}
body .ui-tooltip {
  border-width: 2px;
  height: 20px;
  width: 130px;
  padding: 2px 10px 2px 20px;
  font-size: 0.7em;
  @include border-radius(20px, 20px);
  background: #b5dc17;
}
.ui-widget-header {
    & .ui-icon {
        background-image: url(http://code.jquery.com/ui/1.9.2/themes/base/images/ui-icons_222222_256x240.png);
    }
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.ui-icon-closethick {
    background-position: -96px -128px;
}


/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.ui-button, .ui-button:link, .ui-button:visited, .ui-button:hover, .ui-button:active { text-decoration: none; }
.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
//button.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
//.ui-button-icons-only { width: 3.4em; }
//button.ui-button-icons-only { width: 3.7em; }

/*button text element */
.ui-button .ui-button-text { display: block; line-height: 1.4;  }
.ui-button-text-only .ui-button-text { padding: .4em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; }

/*button icon element(s) */
//.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
//.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
//.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
//.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
//.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */

/* Component containers
----------------------------------*/
//.ui-widget { font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
//.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; font-size: 1em; }
.ui-widget-content a { color: #333333; }
.ui-widget-header {
    & a {
      color: #ffffff;
    }
}
/* Icons
----------------------------------*/

/* states and images */
//.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(http://code.jquery.com/ui/1.9.2/themes/base/images/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(http://code.jquery.com/ui/1.9.2/themes/base/images/ui-icons_222222_256x240.png); }


//.ui-state-default .ui-icon { background-image: url(images/ui-icons_ef8c08_256x240.png); }
//.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_ef8c08_256x240.png); }
//.ui-state-active .ui-icon {background-image: url(images/ui-icons_ef8c08_256x240.png); }
//.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_228ef1_256x240.png); }
//.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_ffd27a_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }

/* Overlays */
.ui-widget-overlay { background: #666666 url(http://code.jquery.com/ui/1.9.2/themes/base/images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat; opacity: .5;filter:Alpha(Opacity=50); }
.ui-widget-shadow { margin: -5px 0 0 -5px; padding: 5px; background: #000000 url(http://code.jquery.com/ui/1.9.2/themes/base/images/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x; opacity: .2;filter:Alpha(Opacity=20); -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }