{% extends '::base.html.twig' %}

{% block menu %}
	{% include 'OpenGestiaBundle:Default:menu_seccion.html.twig' with {'active_section' : 'grupos'} %}
{% endblock %}

{% block action_buttons %}
	<a href="{{ url('grupo_new') }}" id="btn_alta" class="btn ajax_link">Alta</a>
	{#<a href="" id="btn_baja" class="btn">Baja</a>#}
{% endblock %}

{% block list_name %}Grupos{% endblock %}

{% block body %}
	{% if app.session.hasFlash('notice') %}
		<div class="flash-notice">
			{{ app.session.flash('notice') }}
		</div>
	{% endif %}

	<table class="sortable-table listado_grupos" cellspacing='0'>
		<thead>
			<tr>
				<th class="campo-nombre">Nombre</th>
				<th class="campo-tipo">Tipo</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for grupo in grupos %}
			<tr class="grupo">
				<td>{{ grupo.nombre | trans }}</td>
				<td>{{ grupo.tipo }}</td>
				<td></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
