{% block edit_javascripts %}
<script>
	$('.ficha').on('click', '.form-close', function(e){
		e.preventDefault();

		$("#modal").dialog('close');
	});

	$('.ficha').tooltip({ items: "input,select", content: function(){
		if ($(this).attr('placeholder'))
			return $(this).attr('placeholder');
		else
			return $(this).attr('title');
	}
	});
</script>
{% endblock %}