<table>
	<tr>
		<td colspan="2">{{ form_errors(formulario) }}</td>
	</tr>
	{% for key, field in formulario %}
		{% if key != '_token' %}
			{% if loop.index0 % 2 == 0 %}
			<tr>
			{% endif %}
				<td>
					{% if form_errors(field) | length > 0 %}
					<div class="error error-{{ key }}">
						{{ form_errors(field) }}
					</div>
					{% endif %}

					{{ form_widget(field) }}
				</td>
			{% if loop.index0 % 2 == 1 %}
			</tr>
			{% endif %}
		{% endif %}
	{% endfor %}

	<tr>
		<td colspan="2">
			{{ form_rest(formulario)}}
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<div class="form-picture"></div>
			<div class="form-buttons">
				<input class="form-button" type="submit" value="Guardar" />
				<a class="form-button form-close">Cancelar</a>

				{% block form_buttons %}
				{% endblock %}
			</div>
		</td>
	</tr>

</table>